<%= form_for @user do |user_form| %>
<%= user_form.error_messages %>
<ul>
	<li>
	<%= user_form.label(:username, "screen name") %>
	<%= user_form.text_field(:username) %>
	</li>

	<li>
	<%= user_form.label(:email,"email address") %>
	<%= user_form.text_field(:email) %>
	</li>	

	<li>
	<%= user_form.label(:password,"user password") %>
	<%= user_form.text_field(:password) %>
	</li>
</ul>
	<%= user_form.submit(button_label) %>
<% end %>